// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

IDM_MANIFEST				RT_MANIFEST				"module.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
	IDS_ERROR_CHOOSE_PF				"ChoosePixelFormat failed"
	IDS_ERROR_SET_PF				"SetPixelFormat failed"
	IDS_ERROR_DESCRIBE_PF			"DescribePixelFormat failed"
	IDS_ERROR_NEED_PALETTE			"Needs palette"
	IDS_ERROR_BAD_PF				"Bad pixel type"
	IDS_ERROR_ARB_VERSION			"Invalid ARB version"
	IDS_ERROR_ARB_PROFILE			"Invalid ARB profile"
	IDS_ERROR_LOAD_RESOURCE			"Load resource failed"
	IDS_ERROR_COMPILE_SHADER		"Compile shader failed"
	IDS_INFO_RESTART				"In order for the changes to take effect, please restart the game"
	IDS_INFO_NEXT_BATTLE			"This option will be affected at the next battle"
	IDS_WARN_RESET					"This option will reset all wrapper configuration to default.\r\nAre you sure you want to continue?"
	IDS_INFO_RESET					"All settings have been reset. Changes take effect after game restart"
	IDS_WARN_FAST_AI				"This option increases AI performance, but may cause an unexpected game crash. Do you wish to continue?"
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Reset Configuration"				IDM_FILE_RESET
		MENUITEM SEPARATOR
		MENUITEM "&Quit",							IDM_FILE_QUIT
	END
	POPUP "&Display"
	BEGIN
		MENUITEM "Full &Screen\a",					IDM_RES_FULL_SCREEN
		POPUP "&Resolution"
		BEGIN
			MENUITEM "640 x 480\a(4x3)",			IDM_RES_640_480
			MENUITEM "800 x 600\a(4x3)",			IDM_RES_800_600
			MENUITEM "960 x 768\a(5x4)",			IDM_RES_960_768
			MENUITEM "1024 x 600\a(16x9)",			IDM_RES_1024_600
			MENUITEM "1024 x 768\a(4x3)",			IDM_RES_1024_768
			MENUITEM "1152 x 864\a(4x3)",			IDM_RES_1152_864
			MENUITEM "1280 x 720\a(16x9)",			IDM_RES_1280_720
			MENUITEM "1280 x 768\a(5x3)",			IDM_RES_1280_768
			MENUITEM "1280 x 800\a(16x10)",			IDM_RES_1280_800
			MENUITEM "1280 x 960\a(4x3)",			IDM_RES_1280_960
			MENUITEM "1280 x 1024\a(5x4)",			IDM_RES_1280_1024
			MENUITEM "1360 x 768\a(16x9)",			IDM_RES_1360_768
			MENUITEM "1366 x 768\a(16x9)",			IDM_RES_1366_768
			MENUITEM "1400 x 1050\a(4x3)",			IDM_RES_1400_1050
			MENUITEM "1440 x 900\a(16x10)",			IDM_RES_1440_900
			MENUITEM "1440 x 1080\a(4x3)",			IDM_RES_1440_1080
			MENUITEM "1536 x 864\a(16x9)",			IDM_RES_1536_864
			MENUITEM "1600 x 900\a(16x9)",			IDM_RES_1600_900
			MENUITEM "1600 x 1200\a(4x3)",			IDM_RES_1600_1200
			MENUITEM "1680 x 1050\a(16x10)",		IDM_RES_1680_1050
			MENUITEM "1920 x 1080\a(16x9)",			IDM_RES_1920_1080
			MENUITEM "1920 x 1200\a(16x10)",		IDM_RES_1920_1200
			MENUITEM "1920 x 1440\a(4x3)",			IDM_RES_1920_1440
			MENUITEM "2048 x 1536\a(4x3)",			IDM_RES_2048_1536
			MENUITEM "2560 x 1440\a(16x9)",			IDM_RES_2560_1440
			MENUITEM "2560 x 1600\a(16x10)",		IDM_RES_2560_1600
			MENUITEM "3840 x 2160\a(16x9)",			IDM_RES_3840_2160
			MENUITEM "7680 x 4320\a(16x9)",		    IDM_RES_7680_4320
		END
		MENUITEM SEPARATOR
		MENUITEM "Enable &VSync\a",					IDM_VSYNC
	END
	POPUP "&Image"
	BEGIN
		POPUP "&Interpolation\a"
		BEGIN
			MENUITEM "&None",						IDM_FILT_OFF
			MENUITEM SEPARATOR
			MENUITEM "&Linear",						IDM_FILT_LINEAR
			MENUITEM "&Hermite",					IDM_FILT_HERMITE
			MENUITEM "&Cubic",						IDM_FILT_CUBIC
		END
		POPUP "&Upscaling"
		BEGIN
			MENUITEM "&None",						IDM_FILT_NONE
			MENUITEM SEPARATOR
			POPUP "&ScaleNx"
			BEGIN
				MENUITEM "x2",						IDM_FILT_SCALENX_2X
				MENUITEM "x3",						IDM_FILT_SCALENX_3X
			END
			POPUP "Super &Eagle"
			BEGIN
				MENUITEM "x2",						IDM_FILT_EAGLE_2X
			END
			POPUP "2x&SaI"
			BEGIN
				MENUITEM "x2",						IDM_FILT_XSAL_2X
			END
			POPUP "Scale&HQ"
			BEGIN
				MENUITEM "x2",						IDM_FILT_SCALEHQ_2X
				MENUITEM "x4",						IDM_FILT_SCALEHQ_4X
			END
			POPUP "&xBRz"
			BEGIN
				MENUITEM "x2",						IDM_FILT_XRBZ_2X
				MENUITEM "x3",						IDM_FILT_XRBZ_3X
				MENUITEM "x4",						IDM_FILT_XRBZ_4X
				MENUITEM "x5",						IDM_FILT_XRBZ_5X
				MENUITEM "x6",						IDM_FILT_XRBZ_6X
			END
		END
		MENUITEM SEPARATOR
		MENUITEM "&Zoom Window\a",					IDM_RES_STRETCH
		MENUITEM "Show &Background\a",				IDM_RES_BORDERS
		MENUITEM SEPARATOR
		MENUITEM "Keep &Aspect Ratio\a",			IDM_ASPECT_RATIO
	END
	POPUP "&Options"
	BEGIN
		POPUP "&Full Screen Mode"
		BEGIN
			MENUITEM "&Borderless",					IDM_MODE_BORDERLESS
			MENUITEM "&Exclusive",					IDM_MODE_EXCLUSIVE
		END
		MENUITEM "&Widescreen Battle",				IDM_MODE_WIDEBATTLE
		POPUP "Game &Speed\a"
		BEGIN
			MENUITEM "1.0x",						IDM_SPEED_1_0
			MENUITEM "1.1x",						IDM_SPEED_1_1
			MENUITEM "1.2x",						IDM_SPEED_1_2
			MENUITEM "1.3x",						IDM_SPEED_1_3
			MENUITEM "1.4x",						IDM_SPEED_1_4
			MENUITEM "1.5x",						IDM_SPEED_1_5
			MENUITEM "1.6x",						IDM_SPEED_1_6
			MENUITEM "1.7x",						IDM_SPEED_1_7
			MENUITEM "1.8x",						IDM_SPEED_1_8
			MENUITEM "1.9x",						IDM_SPEED_1_9
			MENUITEM "2.0x",						IDM_SPEED_2_0
			MENUITEM "2.1x",						IDM_SPEED_2_1
			MENUITEM "2.2x",						IDM_SPEED_2_2
			MENUITEM "2.3x",						IDM_SPEED_2_3
			MENUITEM "2.4x",						IDM_SPEED_2_4
			MENUITEM "2.5x",						IDM_SPEED_2_5
			MENUITEM "2.6x",						IDM_SPEED_2_6
			MENUITEM "2.7x",						IDM_SPEED_2_7
			MENUITEM "2.8x",						IDM_SPEED_2_8
			MENUITEM "2.9x",						IDM_SPEED_2_9
			MENUITEM "3.0x",						IDM_SPEED_3_0
		END
		POPUP "&Message Timeout"
		BEGIN
			MENUITEM " 5 seconds",					IDM_MSG_5
			MENUITEM "10 seconds",					IDM_MSG_10
			MENUITEM "15 seconds",					IDM_MSG_15
			MENUITEM "20 seconds",					IDM_MSG_20
			MENUITEM "25 seconds",					IDM_MSG_25
			MENUITEM "30 seconds",					IDM_MSG_30
		END
		MENUITEM "Fast &AI",						IDM_FAST_AI
		MENUITEM "Always &Active",					IDM_ALWAYS_ACTIVE
		MENUITEM "&Cold CPU",						IDM_PATCH_CPU
		MENUITEM SEPARATOR
		POPUP "&Locale"
		BEGIN
			MENUITEM "Default",						IDM_LOCALE_DEFAULT
			MENUITEM SEPARATOR
		END
		MENUITEM SEPARATOR
		POPUP "Screenshot &Type"
		BEGIN
			MENUITEM "BMP",							IDM_SCR_BMP
			MENUITEM "PNG",							IDM_SCR_PNG
		END
		POPUP "&Compression Level"
		BEGIN
			MENUITEM "1 - lowest",					IDM_SCR_1
			MENUITEM "2",							IDM_SCR_2
			MENUITEM "3",							IDM_SCR_3
			MENUITEM "4",							IDM_SCR_4
			MENUITEM "5",							IDM_SCR_5
			MENUITEM "6",							IDM_SCR_6
			MENUITEM "7",							IDM_SCR_7
			MENUITEM "8",							IDM_SCR_8
			MENUITEM "9 - highest",					IDM_SCR_9
		END
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "About &Application...",			IDM_HELP_ABOUT_APPLICATION
		MENUITEM "About &Wrapper...",				IDM_HELP_ABOUT_WRAPPER
	END
END

IDR_MENU_OLD MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Reset Configuration"				IDM_FILE_RESET
		MENUITEM SEPARATOR
		MENUITEM "&Quit",							IDM_FILE_QUIT
	END
	POPUP "&Display"
	BEGIN
		MENUITEM "Full &Screen\a",					IDM_RES_FULL_SCREEN
		POPUP "&Resolution"
		BEGIN
			MENUITEM "640 x 480\a(4x3)",			IDM_RES_640_480
			MENUITEM "800 x 600\a(4x3)",			IDM_RES_800_600
			MENUITEM "1024 x 600\a(16x9)",			IDM_RES_1024_600
			MENUITEM "1024 x 768\a(4x3)",			IDM_RES_1024_768
			MENUITEM "1152 x 864\a(4x3)",			IDM_RES_1152_864
			MENUITEM "1280 x 720\a(16x9)",			IDM_RES_1280_720
			MENUITEM "1280 x 800\a(16x10)",			IDM_RES_1280_800
			MENUITEM "1280 x 960\a(4x3)",			IDM_RES_1280_960
			MENUITEM "1280 x 1024\a(5x4)",			IDM_RES_1280_1024
			MENUITEM "1366 x 768\a(16x9)",			IDM_RES_1366_768
			MENUITEM "1400 x 1050\a(4x3)",			IDM_RES_1400_1050
			MENUITEM "1440 x 900\a(16x10)",			IDM_RES_1440_900
			MENUITEM "1440 x 1080\a(4x3)",			IDM_RES_1440_1080
			MENUITEM "1600 x 900\a(16x9)",			IDM_RES_1600_900
			MENUITEM "1600 x 1200\a(4x3)",			IDM_RES_1600_1200
			MENUITEM "1680 x 1050\a(16x10)",		IDM_RES_1680_1050
			MENUITEM "1920 x 1080\a(16x9)",			IDM_RES_1920_1080
			MENUITEM "1920 x 1200\a(16x10)",		IDM_RES_1920_1200
		END
		MENUITEM SEPARATOR
		MENUITEM "Enable &VSync\a",					IDM_VSYNC
	END
	POPUP "&Image"
	BEGIN
		POPUP "&Interpolation\a"
		BEGIN
			MENUITEM "&None",						IDM_FILT_OFF
			MENUITEM SEPARATOR
			MENUITEM "&Linear",						IDM_FILT_LINEAR
			MENUITEM "&Hermite",					IDM_FILT_HERMITE
			MENUITEM "&Cubic",						IDM_FILT_CUBIC
		END
		POPUP "&Upscaling"
		BEGIN
			MENUITEM "&None",						IDM_FILT_NONE
			MENUITEM SEPARATOR
			POPUP "&ScaleNx"
			BEGIN
				MENUITEM "x2",						IDM_FILT_SCALENX_2X
				MENUITEM "x3",						IDM_FILT_SCALENX_3X
			END
			POPUP "Super &Eagle"
			BEGIN
				MENUITEM "x2",						IDM_FILT_EAGLE_2X
			END
			POPUP "2x&SaI"
			BEGIN
				MENUITEM "x2",						IDM_FILT_XSAL_2X
			END
			POPUP "Scale&HQ"
			BEGIN
				MENUITEM "x2",						IDM_FILT_SCALEHQ_2X
				MENUITEM "x4",						IDM_FILT_SCALEHQ_4X
			END
			POPUP "&xBRz"
			BEGIN
				MENUITEM "x2",						IDM_FILT_XRBZ_2X
				MENUITEM "x3",						IDM_FILT_XRBZ_3X
				MENUITEM "x4",						IDM_FILT_XRBZ_4X
				MENUITEM "x5",						IDM_FILT_XRBZ_5X
				MENUITEM "x6",						IDM_FILT_XRBZ_6X
			END
		END
		MENUITEM SEPARATOR
		MENUITEM "&Zoom Window\a",					IDM_RES_STRETCH
		MENUITEM "Show &Background\a",				IDM_RES_BORDERS
		MENUITEM SEPARATOR
		MENUITEM "Keep &Aspect Ratio\a",			IDM_ASPECT_RATIO
	END
	POPUP "&Options"
	BEGIN
		POPUP "&Full Screen Mode"
		BEGIN
			MENUITEM "&Borderless",					IDM_MODE_BORDERLESS
			MENUITEM "&Exclusive",					IDM_MODE_EXCLUSIVE
		END
		MENUITEM "&Widescreen Battle",				IDM_MODE_WIDEBATTLE
		POPUP "Game &Speed\a"
		BEGIN
			MENUITEM "1.0x",						IDM_SPEED_1_0
			MENUITEM "1.1x",						IDM_SPEED_1_1
			MENUITEM "1.2x",						IDM_SPEED_1_2
			MENUITEM "1.3x",						IDM_SPEED_1_3
			MENUITEM "1.4x",						IDM_SPEED_1_4
			MENUITEM "1.5x",						IDM_SPEED_1_5
			MENUITEM "1.6x",						IDM_SPEED_1_6
			MENUITEM "1.7x",						IDM_SPEED_1_7
			MENUITEM "1.8x",						IDM_SPEED_1_8
			MENUITEM "1.9x",						IDM_SPEED_1_9
			MENUITEM "2.0x",						IDM_SPEED_2_0
		END
		POPUP "&Message Timeout"
		BEGIN
			MENUITEM " 5 seconds",					IDM_MSG_5
			MENUITEM "10 seconds",					IDM_MSG_10
			MENUITEM "15 seconds",					IDM_MSG_15
			MENUITEM "20 seconds",					IDM_MSG_20
			MENUITEM "25 seconds",					IDM_MSG_25
			MENUITEM "30 seconds",					IDM_MSG_30
		END
		MENUITEM "Fast &AI",						IDM_FAST_AI
		MENUITEM "Always &Active",					IDM_ALWAYS_ACTIVE
		MENUITEM "&Cold CPU",						IDM_PATCH_CPU
		MENUITEM SEPARATOR
		POPUP "&Locale"
		BEGIN
			MENUITEM "Default",						IDM_LOCALE_DEFAULT
			MENUITEM SEPARATOR
		END
		MENUITEM SEPARATOR
		POPUP "Screenshot &Type"
		BEGIN
			MENUITEM "BMP",							IDM_SCR_BMP
			MENUITEM "PNG",							IDM_SCR_PNG
		END
		POPUP "&Compression Level"
		BEGIN
			MENUITEM "1 - lowest",					IDM_SCR_1
			MENUITEM "2",							IDM_SCR_2
			MENUITEM "3",							IDM_SCR_3
			MENUITEM "4",							IDM_SCR_4
			MENUITEM "5",							IDM_SCR_5
			MENUITEM "6",							IDM_SCR_6
			MENUITEM "7",							IDM_SCR_7
			MENUITEM "8",							IDM_SCR_8
			MENUITEM "9 - highest",					IDM_SCR_9
		END
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "About &Application...",			IDM_HELP_ABOUT_APPLICATION
		MENUITEM "About &Wrapper...",				IDM_HELP_ABOUT_WRAPPER
	END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUT_APPLICATION DIALOGEX DISCARDABLE 22,17,162,74
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP
FONT 8, "System", 0, 0, 0x1
BEGIN
	CTEXT			"",IDC_TITLE,0,6,162,18
	CTEXT			"Version %d.%d.%d.%d",IDC_VERSION,0,22,162,8
	CTEXT			"",IDC_COPYRIGHT,0,38,162,8
	DEFPUSHBUTTON	"OK",IDC_BTN_OK,65,56,32,14,WS_GROUP
	ICON			"",IDC_STATIC,8,17,20,20
END

IDD_ABOUT_WRAPPER DIALOGEX DISCARDABLE 22,17,162,90
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP
FONT 8, "System", 0, 0, 0x1
BEGIN
	CTEXT			"Disciples I && II\nOpenGL Wrapper",IDC_STATIC,0,6,162,18
	CTEXT			"Version %d.%d%d   Build %d",IDC_VERSION,0,30,162,8
	CTEXT			"Copyright © 2019 Verok",IDC_STATIC,0,48,162,8
	DEFPUSHBUTTON	"OK",IDC_BTN_OK,65,72,32,14,WS_GROUP
	CONTROL			"verokster@gmail.com",IDC_LNK_EMAIL,"SysLink",WS_TABSTOP,48,57,72,12
	ICON			"",IDC_STATIC,8,17,20,20
END

IDD_ABOUT_WRAPPER_OLD DIALOGEX DISCARDABLE 22,17,162,90
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP
FONT 8, "System", 0, 0, 0x1
BEGIN
	CTEXT			"Disciples I && II\nOpenGL Wrapper",IDC_STATIC,0,6,162,18
	CTEXT			"Version %d.%d%d   Build %d",IDC_VERSION,0,30,162,8
	CTEXT			"Copyright © 2019 Verok",IDC_STATIC,0,48,162,8
	DEFPUSHBUTTON	"OK",IDC_BTN_OK,65,72,32,14,WS_GROUP
	CTEXT			"verokster@gmail.com",IDC_STATIC,48,57,72,12
	ICON			"",IDC_STATIC,8,17,20,20
END

/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//

IDR_LINEAR_VERTEX			RCDATA		DISCARDABLE			"..\\glsl\\linear\\vertex.glsl"
IDR_LINEAR_FRAGMENT			RCDATA		DISCARDABLE			"..\\glsl\\linear\\fragment.glsl"
IDR_LINEAR_VERTEX_DOUBLE	RCDATA		DISCARDABLE			"..\\glsl\\linear\\vertex_double.glsl"
IDR_LINEAR_FRAGMENT_DOUBLE	RCDATA		DISCARDABLE			"..\\glsl\\linear\\fragment_double.glsl"

IDR_HERMITE_FRAGMENT		RCDATA		DISCARDABLE			"..\\glsl\\hermite\\fragment.glsl"
IDR_HERMITE_FRAGMENT_DOUBLE	RCDATA		DISCARDABLE			"..\\glsl\\hermite\\fragment_double.glsl"

IDR_CUBIC_FRAGMENT			RCDATA		DISCARDABLE			"..\\glsl\\cubic\\fragment.glsl"
IDR_CUBIC_FRAGMENT_DOUBLE	RCDATA		DISCARDABLE			"..\\glsl\\cubic\\fragment_double.glsl"

IDR_XBRZ_FRAGMENT_2X		RCDATA		DISCARDABLE			"..\\glsl\\xbrz\\fragment_2x.glsl"
IDR_XBRZ_FRAGMENT_3X		RCDATA		DISCARDABLE			"..\\glsl\\xbrz\\fragment_3x.glsl"
IDR_XBRZ_FRAGMENT_4X		RCDATA		DISCARDABLE			"..\\glsl\\xbrz\\fragment_4x.glsl"
IDR_XBRZ_FRAGMENT_5X		RCDATA		DISCARDABLE			"..\\glsl\\xbrz\\fragment_5x.glsl"
IDR_XBRZ_FRAGMENT_6X		RCDATA		DISCARDABLE			"..\\glsl\\xbrz\\fragment_6x.glsl"

IDR_XSAL_FRAGMENT			RCDATA		DISCARDABLE			"..\\glsl\\xsal\\fragment.glsl"

IDR_EAGLE_FRAGMENT			RCDATA		DISCARDABLE			"..\\glsl\\eagle\\fragment.glsl"

IDR_SCALEHQ_FRAGMENT_2X		RCDATA		DISCARDABLE			"..\\glsl\\scalehq\\fragment_2x.glsl"
IDR_SCALEHQ_FRAGMENT_4X		RCDATA		DISCARDABLE			"..\\glsl\\scalehq\\fragment_4x.glsl"

IDR_SCALENX_FRAGMENT_2X		RCDATA		DISCARDABLE			"..\\glsl\\scalenx\\fragment_2x.glsl"
IDR_SCALENX_FRAGMENT_3X		RCDATA		DISCARDABLE			"..\\glsl\\scalenx\\fragment_3x.glsl"

IDR_BACK					RCDATA		DISCARDABLE			"..\\bmp\\back.png"
IDR_BORDER					RCDATA		DISCARDABLE			"..\\bmp\\border.png"
IDR_BORDER_WIDE				RCDATA		DISCARDABLE			"..\\bmp\\border_widest.png"

IDR_DLG_BATTLE_B			RCDATA		DISCARDABLE			"..\\files\\DLG_BATTLE_B.dlg"
IDR_DLG_ISO_NEW				RCDATA		DISCARDABLE			"..\\files\\DLG_ISO_NEW.dlg"
IDR_DLG_ISO_VIEW_NEW		RCDATA		DISCARDABLE			"..\\files\\DLG_ISO_VIEW_NEW.dlg"
IDR_DLG_STRATEGIC_NEW		RCDATA		DISCARDABLE			"..\\files\\DLG_STRATEGIC_NEW.dlg"
IDR_DLG_STRAT_SPELL_NEW		RCDATA		DISCARDABLE			"..\\files\\DLG_STRAT_SPELL_NEW.dlg"
IDR_DLG_STRAT_WAIT_NEW		RCDATA		DISCARDABLE			"..\\files\\DLG_STRAT_WAIT_NEW.dlg"
IDR_DLG_ISO_EDIT			RCDATA		DISCARDABLE			"..\\files\\DLG_ISO_EDIT.dlg"
IDR_DLG_MAP_EDIT			RCDATA		DISCARDABLE			"..\\files\\DLG_MAP_EDIT.dlg"
IDR_DLG_LANDMARK_EDIT		RCDATA		DISCARDABLE			"..\\files\\DLG_LANDMARK_EDIT.dlg"
IDR_DLG_EXCEPTIONAL_EDIT	RCDATA		DISCARDABLE			"..\\files\\DLG_EXCEPTIONAL_EDIT.dlg"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2019,10,8,1122
 PRODUCTVERSION 1,4,6,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "FileDescription", "Disciples I & II - OpenGL wrapper"
			VALUE "FileVersion", "2019.10.08.1122"
			VALUE "LegalCopyright", "© 2019 Verok (verokster@gmail.com)"
			VALUE "OriginalFilename", "C4dll-R.dll"
			VALUE "ProductVersion", "1.4.6"
			VALUE "ProductName", "DisciplesGL"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////